#body {
  padding: 40px 0px 80px 0px;
  margin: 0px;
  background-image: linear-gradient(#2c5364, #203a43, #0f2027);
}
.wrapper {
  border: 0px solid rgba(255, 0, 0, 0);
  border-radius: 50px;
  margin: 0px auto;
  background-color: rgb(45, 45, 46);
  width: 1980px;
  height: 100vw;
  box-shadow: 0px 0px 100px #00d0ff;
}
.aside {
  border: 1px solid rgba(255, 0, 0, 0);
  border-radius: 0px 50px 50px 0px;
  background-color: #fff;
  height: 100%;
  width: 65%;
  float: right;
}
.contact-info {
  background-color: rgba(159, 28, 28, 0);
  width: 35%;
  height: 100%;
  padding-top: 80px;
}
.photo-container {
  display: flex;
  justify-content: center;
}
.portfolio-photo {
  border: 1px solid rgba(255, 0, 0, 0);
  border-radius: 360px;
  width: 600px;
}
